<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/usuario-cadastro">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [debounce]="1000" (ionInput)="pesquisar($event)"></ion-searchbar>

  <ion-list>
    @for(item of users(); track item.id) {
    <ion-item>
      <ion-label> {{ item.first_name }} </ion-label>
      <ion-button color="warning" [routerLink]="['/usuario-alteracao', item.id]">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="remover(item.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
    } @empty {
    <p>Lista vazia</p>
    }

    <ion-alert [isOpen]="openAlert" header="Confirmação" [buttons]="alertButtons"
      (didDismiss)="setOpen(false)"></ion-alert>

  </ion-list>
</ion-content>