<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Brand" [(ngModel)]="marcaBuscada"></ion-searchbar>
  <ion-button (click)="pesquisar()">Buscar</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col>Brand</ion-col>
      <ion-col>Quantity</ion-col>
      <ion-col>Name Product</ion-col>
      <ion-col>Biggest Price</ion-col>
    </ion-row>

    @for(item of produtos(); track item){
    <ion-row>
      <ion-col>{{item.brand}}</ion-col>
      <ion-col>{{item.quantity}}</ion-col>
      <ion-col>{{item.name}}</ion-col>
      <ion-col>{{item.price | currency}}</ion-col>
      <ion-col><ion-button color="danger" (click)="remover(item.brand)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    }
    <p>Valor Total = {{calcularValorTotal()|currency}} </p>
    <ion-alert [isOpen]="openAlert" header="Confirmação" [buttons]="alertButtons" (didDismiss)="setOpen(false)"></ion-alert>
  </ion-grid>
</ion-content>