<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/produto-cadastro">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [debounce]="1000" (ionInput)="pesquisar($event)"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col>Produto</ion-col>
      <ion-col>Categoria</ion-col>
      <ion-col>Ações</ion-col>
    </ion-row>

    @for(item of produtos(); track item.id) {
    <ion-row>
      <ion-col><ion-label> {{ item.nome}} </ion-label></ion-col>
      <ion-col><ion-label>{{item.categoria}}</ion-label></ion-col>
      <ion-col>
        <ion-button [routerLink]="['/produto-visualizacao', item.id]">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button color="warning" [routerLink]="['/produto-alteracao', item.id]">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="remover(item.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    } @empty {
    <p>Lista vazia</p>
    }

    <ion-alert [isOpen]="openAlert" header="Confirmação" [buttons]="alertButtons"
      (didDismiss)="setOpen(false)"></ion-alert>
  </ion-grid>
</ion-content>