<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalhe Agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <strong>Médico</strong>
  </ion-item>
  <ion-item>
    <p>
      <strong>Nome</strong>
      {{ medico()?.nome }}
    </p>
  </ion-item>
  <ion-item>
    <p>
      <strong>Especialidade</strong>
      {{ medico()?.especialidade }}
    </p>
  </ion-item>

  <ion-item>
    <strong>Paciente</strong>
  </ion-item>
  <ion-item>
    <p>
      <strong>Nome</strong>
      {{ paciente()?.nome }}
    </p>
  </ion-item>
  <ion-item>
    <p>
      <strong>Telefone</strong>
      {{ paciente()?.telefone }}
    </p>
  </ion-item>

  <ion-item>
    <strong>Agendamento</strong>
  </ion-item>
  <ion-item>
    <p>
      <strong>Status</strong>
      {{ agendamento()?.status }}
    </p>
  </ion-item>
  <ion-item>
    <p>
      <strong>Status</strong>
      {{ agendamento()?.observacoes }}
    </p>
  </ion-item>
</ion-content>

